<!DOCTYPE html>

<html>

<head>
    <title>Form Results</title>
    <link rel="stylesheet "href="./templates/form.css">
</head>

<body>
            <h2>Submitted Info</h2>
            <ul style="list-style: none;">
                <li>Name: <strong><%= name %></strong></li>
                <li>Dojo Location: <strong><%= dojo_location %></strong></li>
                <li>Favorite Language: <strong><%= favorite_language %></strong></li>
                <li>Comment: <strong><%= comment %></strong></li>
            </ul>
            <a id="back" href="/"><button type="submit">Back</button></a>
        </div>
    </div>
</body>

</html>