<!DOCTYPE html>

<html>

<head>
    <title>Name List</title>
    <link rel="stylesheet" type="" href="../styles/namelist.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <h5>Name List</h5>
        </div>
        <div class="body">
            <h1>Add Your Name!</h1>
            <form action="/submit" method="post">
                <input class="inputname" type="text" name="namefield" placeholder="Enter Name">
                <div class="button">
                    <input class="inputbutton" type="submit" name="" value="Add Name">
                </div>
            </form>
        </div>
        <div class="namelist">

        </div>
        <div class="footer">

        </div>
    </div>
</body>

</html>