<!DOCTYPE html>

<html>

<head>
    <title>Name List</title>
    <link rel="stylesheet" type="" href="../styles/namelist.css">
    <script src='https://code.jquery.com/jquery-3.1.1.js' integrity='sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=' crossorigin='anonymous'></script>
    <script src='../js/main.js'></script>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <h5>Name List</h5>
        </div>
        <div class="body">
            <h1>Add Your Name!</h1>
            <form action="/submit" method="post">
                <input class="inputname" type="text" name="namefield" placeholder="Enter Name">
                <div class="button">
                    <button class="inputbutton" type="submit" name="Add Name">Add Name</button>
                </div>
            </form>
        </div>
        <div class="replace-content">

        </div>
        <div class="footer">
            <p>Created by Collin Kosinski</p>
        </div>
    </div>
</body>

</html>